@import url("https://fonts.googleapis.com/css?family=Mukta Malar");

@font-face{
  font-family: "anirm";
  src: url('./assets/fonts/titles/anirm___.ttf')format("truetype");
}

@font-face{
  font-family: "tngan";
  src: url('./assets/fonts/undertitles/tngan.ttf')format("truetype");
}

@font-face{
  font-family: "partybusiness";
  src: url('./assets/fonts/text/partybusiness.ttf')format("truetype");
}

.navbar {
  font-family: "anirm";
  background-color: rgb(235, 102, 41);
  color: white;
  height: 10vh;
}

.collapse.navbar-collapse {
  background-color: rgb(235, 102, 41);
}

.navbar-brand {
  font-size: 2.5vmin
}


ul.navbar-nav li:not(:last-child) {
  border-right:1px solid white;
  margin-right:20px;
  padding-right:20px;
}

.nav-item a:link{
  color: white;
}

.nav-item a:visited {
  color: white;
}

.nav-item a:hover {
  border-bottom: 3px solid white; 
  line-height: -10px;
}


.Carousel {
  font-family: "partybusiness";
  font-size: 3em; 
  color: white; 
}

.carousel-caption {
  transform: translateY(-50%);
  bottom: 0;
  top: 50%;
}

h1.carousel-phrase {
  font-size: 6vw;
  text-align: center;
}

.command {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 3.5vw;
}

body {
  font-family: "Mukta Malar";
}

/* section {
  margin-bottom: 50px;
} */

h2 {
  margin-bottom: 20px;
}
/* 
.black {
  color: black;
} */

#fellows {
  font-family: "partybusiness";
  
  background-color: rgb(218, 214, 214);
  padding: 3vh;
  padding-bottom: 5vh;
}

.fellowseffect {
  font-family: "tngan";
  font-size: 3vh;
  color: rgb(235, 102, 41);

}

.card.rewards {
  background-color: rgb(44, 42, 42);
  border-radius: 0;
  margin-left: 4vh;
  margin-right: 4vh;
}

.fellows {
  font-family: "anirm";
  font-size: 4vh;

}

.container.pills {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: none;
}

.badge.badge-pill {
  font-size: 2.7vh;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  border-radius: 0;
  font-family: "anirm";
}

.badge.badge-pill:hover {
 border-bottom: 5px solid rgb(235, 102, 41);
 color: rgb(235, 102, 41);
 cursor: pointer;
}

.reward-text {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  border-radius: 10px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 4vh;
  text-align: center ;
}

.dead-text {
  border-radius: 10px;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  color: rgb(235, 102, 41);
}

.wanted-name {
  color: white;
  font-size: 10vh;
  margin-top: 10%;
  text-align: center;
}

span.inner {
  color: white;
  font-size: 10vh;
  margin-top: 10%;
  text-align: center;
}
span.outer {
  color: rgb(235, 102, 41);
  text-decoration: line-through;
  text-align: center;
  display:table;
  margin-left: auto;
  margin-right: auto;
}

b {
  color: orange;
}

.card-img-top.gandalf {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(http://images.innoveduc.fr/integration_gandalf.png);
  background-size: cover;
  height: 300px;
  z-index: 3;
  border-radius: 0;
}

.card-img-top-2.gandalf {
  background-image: url(http://images.innoveduc.fr/integration_gandalf.png);
  background-size: cover;
  height: 300px;
  margin-top: -300px;
  padding-top: 245px;
  font-size: 5vh;
  color: white;
  text-align: center;
  z-index: 2;
}

.card-img-top.gandalf:hover {
  opacity: 0;
}

.card-img-top.aragorn {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),url(./assets/images/aragorn.png);
  background-size: cover;
  height: 300px;
  z-index: 3;
  border-radius: 0;
}

.card-text {
  color: white;
  font-size: 3vh;
}



.card-img-top-2.aragorn {
  background-image: url(./assets/images/aragorn.png);
  background-size: cover;
  height: 300px;
  margin-top: -300px;
  padding-top: 245px;
  font-size: 5vh;
  color: white;
  text-align: center;
  z-index: 2;
}

.card-img-top.aragorn:hover {
  opacity: 0;
}

.card-img-top.gimli {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/images/gimli.png);
  background-size: cover;
  height: 300px;
  font-size: 3em;
  z-index: 3;
  border-radius: 0;
}

.card-img-top-2.gimli {
  background-image: url(./assets/images/gimli.png);
  background-size: cover;
  height: 300px;
  margin-top: -300px;
  padding-top: 245px;
  font-size: 5vh;
  color: white;
  text-align: center;
  z-index: 2;
}

.card-img-top.gimli:hover {
  opacity: 0;
}

.scroll-box-reward {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 150px;
  overflow-y: scroll;
  margin-bottom: 25px;
  font-size: 3.6vh;
}

#reward {
  padding-top: 7vh;
  padding-bottom: 7vh;
  padding-left: 5vh;
  padding-right: 5vh;
  background-color: black;
  color: white;
  font-family: "partybusiness"
}

.mt-0.mb-1 {
  font-family: "anirm";
  font-size: 4vh;
}

.ml-3 {
  height: 35vmin;
}

.image-coin {
  width: 20vh;
  height: 21.8vh;
  padding-bottom: 3vh;
}

.btn.contact {
  background-color: rgb(241, 239, 239);
  font-size: 3vh;
  font-family: anirm;
  color: rgb(235, 102, 41);
  text-align: center;
}

#hunters {
  background-color: rgb(218, 214, 214);
  padding: 3vh;
  padding-bottom: 5vh;
  padding-left: 5vh;
  padding-right: 5vh;
  font-family: partybusiness;
}


.hunta {
  font-family: partybusiness;
  color: rgb(235, 102, 41);
  font-size: 7vh;
}

.captures {
  font-size: 4vh;
}

.captures a:visited {
  color: rgb(19, 19, 19);
}

.mb-0 {
  margin-top: 15px;
}

.hunterImage {
  width: 27vh;
  height: 27vh;
}

.btn.btn-fb {
  background-color: black;
  color: rgb(235, 102, 41);
  font-size: 3vh;
}

.nopadding {
  padding-left: 0 !important;
  margin: 0 !important;
}

.col.hunters {
  padding-top: 25px;
}

.table.table-striped {
  border: solid 1px rgb(231, 231, 231);
}

.card.mb-3.ring-capabilities {
  border: solid 1px rgb(231, 231, 231);
}

.card-gollum {
  max-width: 60rem;
  border: solid 1px rgb(231, 231, 231);
}

.scroll-box-army {
  height: 230px;
  overflow-y: scroll;
  margin-bottom: 25px;
}

#contact {
  padding-top: 50px;
  padding-bottom: 80px;
}

form {
  text-align: center;
  font-family: arial;
  font-size: 1em;
  width: 400px;
  }

label {
  font-family: inherit;
  color: black;
  font-size: inherit;
  font-weight: bold;
}

#email {
  height: 30px;
}

#message {
  height: 250px;
}

#email, #message {
  width: 35%;
  font-family: inherit;
  background-color: #F2F2F2;
  border: solid 1px black;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#button {
  color: white;
  font-size: 2em;
  font-weight: bold;
  width: 160px;
  height: 45px;
  margin-bottom: 10px;
  background-color: grey; 
  border-radius: 5px;
  cursor: pointer;
}

#button:hover {
  background-color: #e2e2e1;
}

footer {
  padding-top: 20px;
  background-color: rgb(46, 45, 45);
  color: white;
}