@import url("https://fonts.googleapis.com/css?family=Mukta Malar");

@font-face{
  font-family: "anirm";
  src: url('./assets/fonts/titles/anirm___.ttf')format("truetype");
}

@font-face{
  font-family: "tngan";
  src: url('./assets/fonts/undertitles/tngan.ttf')format("truetype");
}

@font-face{
  font-family: "partybusiness";
  src: url('./assets/fonts/text/partybusiness.ttf')format("truetype");
}

html {
  font-size: 16px;
}

html,body {
  margin:0;
  padding:0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  font-family: "anirm";
  background-color: rgb(235, 102, 41);
  color: white;
  height: 10vh;
}

.collapse.navbar-collapse {
  background-color: rgb(235, 102, 41);
}

@media screen and (max-width:500px){
.logoRing {
      width: 30vh; 
    }
  }

ul.navbar-nav li:not(:last-child) {
  border-right:1px solid white;
  margin-right:10px;
  padding-right:10px;
}

ul.navbar-nav li {
  font-size: 2.5vmin;
}

.nav-item a:link{
  color: white;
}

.nav-item a:visited {
  color: white;
}

.nav-item a:hover {
  border-bottom: 3px solid white; 
}

.Carousel {
  font-family: "partybusiness";
  font-size: 3em; 
  color: white; 
}

.carousel-caption {
  transform: translateY(-50%);
  bottom: 0;
  top: 50%;
}

h1.carousel-phrase {
  font-size: 6vw;
  text-align: center;
}

.command {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 3.5vw;
}


h2 {
  margin-bottom: 20px;
}


#fellows {
  font-family: "partybusiness";
  
  background-color: rgb(218, 214, 214);
  padding: 3vh;
  padding-bottom: 5vh;
}


.fellowseffect {
  font-family: "tngan";
  font-size: 3vh;
  color: rgb(235, 102, 41);

}

.card.rewards {
  background-color: rgb(44, 42, 42);
  border-radius: 0;
  margin-left: 4vh;
  margin-right: 4vh;
}

.section-titles {
  font-family: "anirm";
  font-size: 4vh;

}

@media screen and (max-width: 500px) {
  .section-titles {
      font-size: 4.4vmin !important;
    }
  }

.container.pills {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.badge.badge-pill {
  font-size: 2.7vh;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  border-radius: 0;
  font-family: "anirm";
}

.badge.badge-pill:hover {
 border-bottom: 5px solid rgb(235, 102, 41);
 color: rgb(235, 102, 41);
 cursor: pointer;
}

.reward-text {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  border-radius: 10px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 4vh;
  text-align: center ;
}

.dead-text {
  border-radius: 10px;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  color: rgb(235, 102, 41);
}

.wanted {
  padding-right: 0 !important;
  padding-left: 0 !important
}

.wanted-name {
  color: white;
  font-size: 2rem;
  margin-top: 10%;
  text-align: center;
}

span.inner {
  color: white;
  font-size: 10vh;
  margin-top: 10%;
  text-align: center;
}
span.outer {
  color: rgb(235, 102, 41);
  text-decoration: line-through;
  text-align: center;
  display:table;
  margin-left: auto;
  margin-right: auto;
}

b {
  color: orange;
}

.card-img-top.gandalf {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(http://images.innoveduc.fr/integration_gandalf.png);
  background-size: cover;
  height: 300px;
  z-index: 3;
  border-radius: 0;
}

.card-img-top-2.gandalf {
  background-image: url(http://images.innoveduc.fr/integration_gandalf.png);
  background-size: cover;
  height: 300px;
  margin-top: -300px;
  padding-top: 245px;
  font-size: 5vh;
  color: white;
  text-align: center;
  z-index: 2;
}

.card-img-top.gandalf:hover {
  opacity: 0;
}

.card-img-top.aragorn {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),url(./assets/images/aragorn.png);
  background-size: cover;
  height: 300px;
  z-index: 3;
  border-radius: 0;
}

.card-text {
  color: white;
  font-size: 3vh;
}



.card-img-top-2.aragorn {
  background-image: url(./assets/images/aragorn.png);
  background-size: cover;
  height: 300px;
  margin-top: -300px;
  padding-top: 245px;
  font-size: 5vh;
  color: white;
  text-align: center;
  z-index: 2;
}

.card-img-top.aragorn:hover {
  opacity: 0;
}

.card-img-top.gimli {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(./assets/images/gimli.png);
  background-size: cover;
  height: 300px;
  font-size: 3em;
  z-index: 3;
  border-radius: 0;
}

.card-img-top-2.gimli {
  background-image: url(./assets/images/gimli.png);
  background-size: cover;
  height: 300px;
  margin-top: -300px;
  padding-top: 245px;
  font-size: 5vh;
  color: white;
  text-align: center;
  z-index: 2;
}

.card-img-top.gimli:hover {
  opacity: 0;
}

.scroll-box-reward {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 20vh;
  overflow-y: scroll;
  margin-bottom: 25px;
  font-size: 3.6vh;
}

#reward {
  padding-top: 7vh;
  padding-bottom: 7vh;
  padding-left: 5vh;
  padding-right: 5vh;
  background-color: black;
  color: white;
  font-family: "partybusiness"
}

.mt-0.mb-1 {
  font-family: "anirm";
  font-size: 4vh;
}

.ml-3 {
  height: 35vmin;
}

.image-coin {
  width: 20vh;
  height: 21.8vh;
  padding-bottom: 3vh;
}

.btn.contact {
  background-color: rgb(241, 239, 239);
  font-size: 3vh;
  font-family: anirm;
  color: rgb(235, 102, 41);
  text-align: center;
}

#hunters {
  background-color: rgb(218, 214, 214);
  padding: 3vh;
  padding-bottom: 8vh;
  padding-left: 3vh;
  padding-right: 3vh;
  font-family: partybusiness;
}

.media-body.hunt {
  height: 23vh;
  margin-top: 3vh;
}

.hunta {
  font-family: partybusiness;
  color: rgb(235, 102, 41);
  font-size: 6vmin;
}

.captures {
  font-size: 4vh;
}

.captures a:visited {
  color: rgb(19, 19, 19);
}

.mb-0 {
  margin-top: 3vh;
}

.hunterImage {
  width: 30vmin;
  height: 30vmin;
}

.hunter-row {
  margin-top: 3vh;
}

.btn.btn-fb {
  background-color: black;
  color: rgb(235, 102, 41);
  font-size: 3vh;
}

.nopadding {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.col.hunters {
  padding-top: 25px;
}

#ring {
  padding-top: 7vh;
  padding-bottom: 7vh;
  padding-left: 5vh;
  padding-right: 5vh;
  background-color: black;
  color: white;
  font-family: "partybusiness"
}

.card-head {
  font-family: "anirm";
  font-size: 3vh;
  background-color: rgb(235, 102, 41);
  border-radius: 10px 10px 0px 0px !important; 
}

.body-wanted {
  min-height: 19vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ring-cards{
  /* border: none; */
  font-family: "anirm";
}

.ring-capabilities {
  margin-top: 4vh;
  border: transparent;
  border-bottom: 6px solid rgb(235, 102, 41);
  border-radius: 10px 10px 0px 0px; 
  background-color: rgb(231, 231, 231);
  font-size: 3vh;
}

@media screen and (max-width: 600px) {
.ring-capabilities {
    font-size: 2vmin;
  }
}

.ring-table {
  font-family: anirm;
}

.head-border {
  border-top: none !important;
  border-bottom: 3px solid black !important;
}

.ring-table-body {
  color: grey;
}

.stripe {
  border-bottom: 1.8px solid rgb(192, 192, 192) !important;
}

.rounded-circle {
  height: 25vmin !important;
  width: 25vmin !important;
}

.gollum-text {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgb(92, 92, 92) !important;
  font-family: partybusiness !important;
  font-size: 7vmin !important;
  line-height: 70%; 
}

.gollum-text-right {
  text-align: right;
}

#joinarmy {
  background-color: rgb(218, 214, 214);
  padding-top: 7vh;
  padding-bottom: 7vh;
  padding-left: 5vh;
  padding-right: 5vh;
  font-family: partybusiness;
}



.sauronsarmy {
  height: 16vw;
}

.weneedyou {
  height: 18vw;
}

.joinarmyrows {
  margin-top: 4vh;
}

.armytext {
  font-size: 3.5vmin;
}

.joinarmy {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3vh;
  text-align: center;
  font-family: anirm;
  color: rgb(235, 102, 41);
  text-align: center;
  font-size: 4vmin;
}

.more-info {
  background-color: black !important;
  box-shadow: 1vh 1vh 1vh black;
  font-size: 3vmin;
  color: rgb(235, 102, 41);
}

.more-info:hover {
  background-color: rgb(68, 68, 68) !important; 
}

@media screen and (max-width: 320px) {
  .more-info {
      font-size: 2vmin !important;
    }
  }

  @media screen and (max-width: 768px) {
    .more-info {
        font-size: 2vmin !important;
      }
    }


#contact {
    padding-top: 7vh;
    padding-bottom: 7vh;
    padding-left: 5vh;
    padding-right: 5vh;
    background-color: black;
    color: white;
    font-family: "partybusiness"
  
}



.form-group {
  margin-top: 5vh;
  text-align: center;
  font-family: anirm;
  font-size: 1rem;

  }

  .form-control {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  select {
background-color: white;
width: 100%;
  }

.map {
  /* height: 25vw; */
  width: 100%
}

@media screen and (max-width: 320px) {
  .map {
      width: 38vh;
    }
  }


  @media screen and (max-width: 768px) {
    .map {
      width: 38vh;
    }
    }
    @media screen and (max-width: 768px) {
      .map {
          width: 30vh;
        }
      }
  

footer {
  padding-top: 20px;
  background-color: rgb(235, 102, 41);
  color: white;
  font-family: anirm;
}

.foot {
  margin-right: 0 !important;
}

ul {
  list-style-type: none;
}
a:link {
  color: white;
}

.sauron4ever a:visited {
  color: white !important;
}
  
  .sauron4ever a:hover {
    color: white;
  
  }
